[submodule "dnsmasq/src"]
	path = dnsmasq/src
	url = http://thekelleys.org.uk/git/dnsmasq.git
[submodule "prometheus-smart-collector/src"]
	path = prometheus-smart-collector/src
	url = https://github.com/prometheus-community/node-exporter-textfile-collector-scripts.git
[submodule "unbound/src"]
	path = unbound/src
	url = https://github.com/NLnetLabs/unbound.git
[submodule "chrony/src"]
	path = chrony/src
	url = https://git.tuxfamily.org/chrony/chrony.git
[submodule "watchtower/src"]
	path = watchtower/src
	url = https://github.com/containrrr/watchtower.git
[submodule "traefik/src"]
	path = traefik/src
	url = https://github.com/containous/traefik.git
