name: CI
on:
  push:
    branches:
    - main
  schedule:
  - cron: 0 3 * * *
jobs:
  alertmanager:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image alertmanager/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  alpine:
    runs-on: ubuntu-24.04
    needs: []
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image alpine/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  apt-collector:
    runs-on: ubuntu-24.04
    needs:
    - debian
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image apt-collector/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  aria2:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image aria2/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  blackbox-exporter:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image blackbox-exporter/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  chrony:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image chrony/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  debian:
    runs-on: ubuntu-24.04
    needs: []
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image debian/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  haveged:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image haveged/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  hostapd:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image hostapd/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  jellyfin:
    runs-on: ubuntu-24.04
    needs: []
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image jellyfin/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  nginx:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image nginx/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  node-exporter:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image node-exporter/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  podman-collector:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image podman-collector/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  prometheus:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image prometheus/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  prowlarr:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image prowlarr/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  smart-collector:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image smart-collector/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  socat:
    runs-on: ubuntu-24.04
    needs: []
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image socat/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  syncthing:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image syncthing/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  unbound:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image unbound/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  webui-aria2:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image webui-aria2/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  wpa-supplicant:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image wpa-supplicant/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  zrepl:
    runs-on: ubuntu-24.04
    needs:
    - alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build, Test & Push
      run: ./build.py image zrepl/Dockerfile
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
